In [54]:
# In this section , we will go through the following 
      # How to import a csv file
      # How to view the imported File
      # How to view the count of rows and count of columns in the file imported
      # How to view the first n rows of the file
      # How to view the last n rows of the file
      # How to view any one row in the file

In [55]:
# Import pandas
import pandas as pd

In [56]:
# Import Numpy
import numpy as np

In [57]:
# Import csv
import csv

In [58]:
# Import the file
coffee=pd.read_csv("coffee.csv")

In [67]:
# Count the rows & columns in your data data 
Count_Row=coffee.shape[0] #gives number of row count
Count_Col=coffee.shape[1] #gives number of col count
print(Count_Row)
print(Count_Col)

5
4

In [69]:
# Count the rows & columns in your data data 
coffee.shape

(5, 4)

In [59]:
# View the entire file
coffee

       Coffee Water          Milk Icecream
0    Espresso    No            No       No
1  Long Black   Yes            No       No
2  Flat White    No           Yes       No
3  Cappuccino    No  Yes - Frothy       No
4    Affogato    No            No      Yes

In [60]:
# View the first 2 rows of the file
coffee.head(n=2)

       Coffee Water Milk Icecream
0    Espresso    No   No       No
1  Long Black   Yes   No       No

In [80]:
# View the last 2 rows of the file
coffee.tail(n=2)

       Coffee Water          Milk Icecream
3  Cappuccino    No  Yes - Frothy       No
4    Affogato    No            No      Yes

In [81]:
# View the 5th row of the file . To do this efficiently we first create an index and search with the index.
coffee.iloc[3]

Coffee        Cappuccino
Water                 No
Milk        Yes - Frothy
Icecream              No
Name: 3, dtype: object